doctype 5
html(lang="en")
	head
		link(rel='stylesheet', href='css/style.css')
		script(src="js/leap.js")
		script(data-main="js/app",src="js/lib/require.js")

	body
		#console
		#display
			#user
				#userchoice.nothing
				div.name You
			#divider
				#narration
			#opponent
				#opponentchoice.nothing
				div.name Opponent