
body {
	font-family: Arial, Helvetica;
}

.rock, .paper, .scissors {
	background-position: center;
	height: 276px;
	background-repeat: no-repeat;
}

.rock {
	background-image: url(../images/rock.png);
}


.paper {
	background-image: url(../images/paper.png);
}


.scissors {
	background-image: url(../images/scissors.png);
}

.nothing {
	width: 160px;
	height: 250px;
	content: 'nothing';
	font-size: 20px;
	color: black;
}

#display {
	margin-left: auto;
	margin-right:auto;
	margin-top: 100px;
	width: 1000px;
	overflow: hidden;
}

#user, #opponent {
	width: 40%
}

#divider {
	width: 20%;
	font-size: 90px;
	font-weight: bold;
}

#divider div {
	padding-top: 100px;
}

#user, #opponent, #divider {
	float: left;
	text-align: center;
	height: 350px;
	position: relative;
}

#user .name, #opponent .name{
	position: absolute;
	bottom: 0px;
	width: 360px;
	font-size: 40px;
	font-weight: bold;
}

